<span class="score-bubble">
  {{maxScore}}
</span>

<span class="user-info">
  <h3>{{fullName}}</h3>
  <p> Rank #{{rank}} </p>
</span>

<span class="time-wasted">
  <p>Wasted {{timeSpent}} seconds</p>
</span>