<span class="score-bubble">
  <span class="score-bubble-text">{{maxScore}}</span>
  <div class="score-bubble-bg"></div>
</span>

<span class="user-info">
  <h3>{{fullName}}</h3>
  <p> Rank #{{rank}} </p>
</span>

<span class="time-wasted">
  <p>Wasted {{timeSpent}} seconds</p>
</span>