<div class="filter">
  {{input class='form-control' valueBinding='query' placeholder='Filter'}}
</div>

<div class="rank-list-wrapper">
  <div class="rank-gradient"></div>
  {{view view.listView}}
</div>
