<div class="stats">
  <div class="bird"></div>

  <div id="carousel" class="pipes">
    <div class="screen">
      <div class="pipe first">
        <h1 class="pipe-value">Hello</h1>
        <img src="assets/pipe-medium.png"/>
        <h1 class="pipe-label">Hello</h1>
      </div>

      <div class="pipe second">
        <h1 class="pipe-value">Hello</h1>
        <img src="assets/pipe-medium.png"/>
        <h1 class="pipe-label">Hello</h1>
      </div>

      <div class="pipe third">
        <h1 class="pipe-value">Hello</h1>
        <img src="assets/pipe-medium.png"/>
        <h1 class="pipe-label">Hello</h1>
      </div>
    </div>
    <div class="screen">
      <img src="assets/pipe-medium.png"/>
      <h1 class="pipe-text">Hello</h1>
    </div>
    <div class="screen">
      <img src="assets/pipe-medium.png"/>
      <h1 class="pipe-text">Hello</h1>
    </div>
  </div>
</div>