/*
*= require_tree .
*= require_self
*/

@import "bootstrap_configuration";
@import "bootstrap";

@import "ember-list-view";

.navbar-header {
  margin-left: 10px;
  img {
    float: left;
    height: 50px;
  }
}
