.rankings {
  padding: 0px 15px;

  .filter {
    margin-bottom: 20px;
  }

  .rank {
    display: flex;

    & ~ .rank {
      margin-top: 20px;
    }

    .score-bubble {
      position: relative;
      text-align: center;
      padding-top: 19px;

      width: 75px;
      height: 75px;
      border-radius: 75px;
      background-color: #d13118;
      color: #ffffff;

      font-size: 26px;
      font-weight: bold;

      .score-bubble-bg {
        position: absolute;
        left: 0;
        right: 0;
        top: 3px;
        bottom: 0;
        background: image-url('icon_large.png') no-repeat center center;
        background-size: 50px 50px;
        opacity: 0.15;
      }

      .score-bubble-text {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1000;
      }
    }

    .user-info {
      margin-left: 15px;
      margin-top: 10px;
      flex-grow: 1;

      h3 { margin-top: 0px; }
      p { color: #555555; }
    }

    .time-wasted {
      p {
        margin-top: 25px;
        color: #555555;
      }
    }
  }
}
