@-webkit-keyframes thumb {
  0% { -webkit-transform: rotate(0deg); }
  50% { -webkit-transform: rotate(-30deg); }
  100% { -webkit-transform: rotate(-360deg); }
}

.rankings {
  padding: 0px 15px;

  .filter {
    margin-bottom: 20px;
  }

  .rank {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    & ~ .rank {
      margin-top: 20px;
    }

    .score-bubble {
      position: relative;
      text-align: center;
      padding-top: 19px;

      width: 75px;
      height: 75px;
      border-radius: 75px;
      background-color: #d13118;
      color: #ffffff;

      font-size: 26px;
      font-weight: bold;

      & ~ .score-bubble {
        margin-left: 10px;
      }

      .score-bubble-bg {
        position: absolute;
        left: 0;
        right: 0;
        top: 3px;
        bottom: 0;
        background: image-url('icon_large.png') no-repeat center center;
        background-size: 50px 50px;
        opacity: 0.15;
      }

      .score-bubble-text {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1000;
      }
    }

    .user-info {
      margin-left: 15px;
      margin-top: 10px;
      -webkit-flex-grow: 1;
      -ms-flex-grow: 1;
      flex-grow: 1;

      h3 { margin-top: 0px; }
      .user-detail {
        position: relative;
        color: #555555;
        & ~ .user-detail { margin-left: 20px; }

        &.user-backflips {
          padding-left: 30px;
        }

        .backflip-img {
          position: absolute;
          top: 0;
          left: 0;

          display: inline-block;
          width: 20px;
          height: 20px;

          background: image-url('icon_large.png') no-repeat center bottom;
          background-size: 20px 20px;

          &.flipping {
            -webkit-animation-name: thumb;
            -webkit-animation-duration: 1000ms;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
          }
        }
      }

    }

    .time-wasted {
      p {
        margin-top: 25px;
        color: #555555;
      }
    }
  }
}
